In [1]:
%reload_ext autoreload
%autoreload 2

import datetime
import pandas as pd
import qfutils
from quantfin import Portfolio

First and foremost, quantfin module uses Selenium library to scrape data from websites. Thus, it is required to have a web driver exe file to perform the scraping tasks. In this example, I will use the chrome driver, which is available for download in the following link:
https://chromedriver.chromium.org/downloads

In [2]:
# After successfully downloading the file, unzip it and save to any folder at your convenience
# Assign the file directory to a variable
chrome_driver = r'C:\User\parent_folder\child_folder\chromedriver.exe'

The Portfolio class of the quantfin module allows us to do the following tasks:
    1. Price data scraping from: cophieu68.vn, vndirect.com.vn, cafef.vn, vcsc.com.vn, and stockbiz.vn.
    2. Data cleansing
   
Let's get started with creating new portfolio

In [3]:
portfolio = Portfolio(
    data=None, # Empty portfolio as we don't have any data yet
    symbol_col='symbol', # Name the column which shows the stock's symbol
    date_col='date', # Name the column which shows the trading date,
    driver_exe=chrome_driver,
    driver='chrome'
)
print(portfolio)

<quantfin.Portfolio object at 0x00000213BE5B7708>

Let's download price data of the most recent 30 days of 3 stocks: VIC, SSI and CTB, from VNDirect
To donwload price data, we use update_data method. The update_data method uses multithreading library to fasten the downloading progress

In [4]:
symbols = ['VIC', 'SSI', 'CTB']
method = 'vnd'
records = 30
portfolio.update_data(symbols_array=symbols, method=method, records=records)

qfutils - INFO - Start validating symbols array...
qfutils - INFO - Symbols array validation done
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
qfbrowsing - INFO - VIC - Symbol query form filled
qfbrowsing - INFO - VIC - Date query form filled
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - CTB - Symbol query form filled
qfbrowsing - INFO - CTB - Date query form filled
qfbrowsing - INFO - VIC - Page successfully loaded after form submission
qfbrowsing - INFO - VIC - Page 1 is loaded
qfbrowsing - INFO - VIC - Read table data from web done
qfbrowsing - INFO - VIC - Successfully extract 30 records
quantfin - INFO - 1/3 symbol(s) checked. Progress: 33.33%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - INFO - CTB - Page successfully loaded after form submission
qfbrowsing - INFO - SSI - Page 1 is loaded
qfbrowsing - INFO - SSI - Read table data from web done
qfbrowsing - INFO - SSI - Successfully extract 30 records
quantfin - INFO - 2/3 symbol(s) checked. Progress: 66.67%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
qfbrowsing - INFO - CTB - Page 1 is loaded
qfbrowsing - INFO - CTB - Read table data from web done
qfbrowsing - INFO - CTB - Successfully extract 30 records
quantfin - INFO - 3/3 symbol(s) checked. Progress: 100.0%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
quantfin - INFO - vnd - Joining results
quantfin - INFO - vnd - Thread 0 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 1 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 2 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Updating vnd class dataframe...
quantfin - INFO - vnd - Appending results to result set...
quantfin - INFO - vnd - Results are added to result set

In [5]:
# View portfolio data
portfolio.data

                   adj_close_vnd  close_vnd  high_vnd  low_vnd  open_vnd  \
symbol date
SSI    2020-03-16         11.466      13.30     13.60     13.2      13.5
       2020-03-17         12.242      14.20     14.20     12.8      13.1
       2020-03-18         11.811      13.70     14.40     13.6      14.4
       2020-03-19         11.811      13.70     13.90     13.3      13.4
       2020-03-20         11.940      13.85     14.05     13.6      14.0
...                          ...        ...       ...      ...       ...
CTB    2020-04-21         29.000      30.00     30.00     30.0      30.0
       2020-04-22         29.000      30.00     30.00     30.0      30.0
       2020-04-23         29.000      30.00     30.00     30.0      30.0
       2020-04-24         29.000      30.00     30.00     30.0      30.0
       2020-04-27         30.900      30.90     30.90     30.9      30.9

                   vol_vnd
symbol date
SSI    2020-03-16  2897920
       2020-03-17  4834780
       2020-03-18  3190370
       2020-03-19  2568540
       2020-03-20  2868770
...                    ...
CTB    2020-04-21        0
       2020-04-22        0
       2020-04-23        0
       2020-04-24        0
       2020-04-27      200

[90 rows x 6 columns]

What if we run the update method again? Let's see

In [6]:
portfolio.update_data(symbols_array=symbols, method=method, records=records)

qfutils - INFO - Start validating symbols array...
qfutils - INFO - Symbols array validation done
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - VIC - Symbol query form filled
qfbrowsing - INFO - VIC - Date query form filled
qfbrowsing - INFO - VIC - Page successfully loaded after form submission
qfbrowsing - INFO - VIC - Page 1 is loaded
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - INFO - VIC - Read table data from web done
qfbrowsing - INFO - VIC - Successfully extract 30 records
quantfin - INFO - 1/3 symbol(s) checked. Progress: 33.33%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfbrowsing - INFO - SSI - Page 1 is loaded
qfbrowsing - INFO - SSI - Read table data from web done
qfbrowsing - INFO - SSI - Successfully extract 30 records
quantfin - INFO - 2/3 symbol(s) checked. Progress: 66.67%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
qfbrowsing - INFO - CTB - Symbol query form filled
qfbrowsing - INFO - CTB - Date query form filled
qfbrowsing - INFO - CTB - Page successfully loaded after form submission
qfbrowsing - INFO - CTB - Page 1 is loaded
qfbrowsing - INFO - CTB - Read table data from web done
qfbrowsing - INFO - CTB - Successfully extract 30 records
quantfin - INFO - 3/3 symbol(s) checked. Progress: 100.0%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
quantfin - INFO - vnd - Joining results
quantfin - INFO - vnd - Thread 0 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 1 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 2 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Updating vnd class dataframe...
quantfin - INFO - vnd - Appending results to result set...
quantfin - INFO - vnd - Results are added to result set

In [7]:
portfolio.data

                   adj_close_vnd  close_vnd  high_vnd  low_vnd  open_vnd  \
symbol date
CTB    2020-03-16         33.833       35.0      35.0     35.0      35.0
       2020-03-17         33.060       34.2      34.2     31.5      31.5
       2020-03-18         32.673       33.8      33.8     30.8      30.8
       2020-03-19         29.677       30.7      30.7     30.7      30.7
       2020-03-20         30.837       31.9      31.9     28.2      28.2
...                          ...        ...       ...      ...       ...
VIC    2020-04-21         93.000       93.0      95.5     92.5      95.5
       2020-04-22         92.500       92.5      92.8     90.5      92.0
       2020-04-23         93.000       93.0      94.9     92.7      93.0
       2020-04-24         93.000       93.0      93.9     92.4      93.0
       2020-04-27         92.000       92.0      95.0     92.0      95.0

                   vol_vnd  adj_close_vnd_add  close_vnd_add  high_vnd_add  \
symbol date
CTB    2020-03-16        0             33.833           35.0          35.0
       2020-03-17      300             33.060           34.2          34.2
       2020-03-18      300             32.673           33.8          33.8
       2020-03-19      100             29.677           30.7          30.7
       2020-03-20     1615             30.837           31.9          31.9
...                    ...                ...            ...           ...
VIC    2020-04-21   892270             93.000           93.0          95.5
       2020-04-22   884070             92.500           92.5          92.8
       2020-04-23   347420             93.000           93.0          94.9
       2020-04-24   300240             93.000           93.0          93.9
       2020-04-27   453720             92.000           92.0          95.0

                   low_vnd_add  open_vnd_add  vol_vnd_add
symbol date
CTB    2020-03-16         35.0          35.0            0
       2020-03-17         31.5          31.5          300
       2020-03-18         30.8          30.8          300
       2020-03-19         30.7          30.7          100
       2020-03-20         28.2          28.2         1615
...                        ...           ...          ...
VIC    2020-04-21         92.5          95.5       892270
       2020-04-22         90.5          92.0       884070
       2020-04-23         92.7          93.0       347420
       2020-04-24         92.4          93.0       300240
       2020-04-27         92.0          95.0       453720

[90 rows x 12 columns]

You can see that the number of columns is now 12, increases by 6. This is because I don't merge the new data to the current portfolio's data automatically as we don't which data is better. The user must check and decide on their own

In [8]:
# Remove the new columns from portfolio data
portfolio.data = portfolio.data.loc[:, ['adj_close_vnd', 'open_vnd', 'high_vnd', 'low_vnd', 'close_vnd', 'vol_vnd']]

-------------------------------------------------------------------------------------------------------------------------------

Besides choosing the numbers of most recent days (records) to extract the data, we can specify the date range by modifying the symbols_array argument

In [9]:
symbols = [['VIC', '2020-03-01', '2020-03-31'], ['SSI', '2020-03-01', '2020-03-31'], ['CTB', '2020-03-01', '2020-03-31']]
method = 'vnd'
# We must specify the date format for the method to correctly recognize the dates
date_format = '%Y-%m-%d'
# records = 30

portfolio.update_data(symbols_array=symbols, method=method, date_format=date_format)

qfutils - INFO - Start validating symbols array...
qfutils - INFO - Symbols array validation done
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
quantfin - INFO - VNDirect - vnd_get_data method is triggered
qfbrowsing - INFO - VIC - Symbol query form filled
qfbrowsing - INFO - VIC - Date query form filled
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - INFO - VIC - Page successfully loaded after form submission
qfbrowsing - INFO - CTB - Symbol query form filled
qfbrowsing - INFO - CTB - Date query form filled
qfbrowsing - INFO - CTB - Page successfully loaded after form submission
qfbrowsing - WARNING - SSI - Empty data
quantfin - WARNING - SSI - Data are NOT loaded completely
quantfin - INFO - 1/3 symbol(s) checked. Progress: 33.33%
quantfin - INFO - 1 symbol(s) not fully loaded.
quantfin - INFO - Retry to get data for 1 unloadable symbol(s). Attempt 1
qfbrowsing - ERROR - SSI - Unable to fill the Symbol query form
Traceback (most recent call last):
  File "C:\Users\baoloc.lam\1-LocLam\PythonProjects\vn_stock_trading\stock_research\qfbrowsing.py", line 377, in _query_symbol
    symbol_filter = self.find_element_by_xpath(xpath)
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 394, in find_element_by_xpath
    return self.find_element(by=By.XPATH, value=xpath)
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 978, in find_element
    'value': value})['value']
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="symbolID"]"}
  (Session info: headless chrome=81.0.4044.122)

qfbrowsing - WARNING - Unable to query the page. Refresh and load again. Attempt 1
qfbrowsing - INFO - VIC - Page 1 is loaded
qfbrowsing - INFO - VIC - Read table data from web done
qfbrowsing - INFO - VIC - Successfully reach to last page
quantfin - INFO - 1/3 symbol(s) checked. Progress: 33.33%
quantfin - INFO - 1 symbol(s) not fully loaded.
quantfin - INFO - Retry to get data for 1 unloadable symbol(s). Attempt 1
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - CTB - Page 1 is loaded
qfbrowsing - INFO - CTB - Read table data from web done
qfbrowsing - INFO - CTB - Successfully reach to last page
quantfin - INFO - 2/3 symbol(s) checked. Progress: 66.67%
quantfin - INFO - 1 symbol(s) not fully loaded.
quantfin - INFO - Retry to get data for 1 unloadable symbol(s). Attempt 1
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - INFO - SSI - Symbol query form filled
qfbrowsing - INFO - SSI - Date query form filled
qfbrowsing - INFO - SSI - Page successfully loaded after form submission
qfbrowsing - WARNING - SSI - Empty data
quantfin - INFO - 3/3 symbol(s) checked. Progress: 100.0%
quantfin - INFO - 1 symbol(s) not fully loaded.
qfutils - ERROR - Cannot remove duplicated records from dataframe
Traceback (most recent call last):
  File "C:\Users\baoloc.lam\1-LocLam\PythonProjects\vn_stock_trading\stock_research\qfutils.py", line 161, in merge_dedup
    level=original_df.index.names
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 5810, in groupby
    observed=observed,
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\groupby.py", line 409, in __init__
    mutated=self.mutated,
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\grouper.py", line 499, in get_grouper
    elif level > 0 or level < -1:
TypeError: '>' not supported between instances of 'NoneType' and 'int'
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
qfbrowsing - INFO - SSI - Page 1 is loaded
qfbrowsing - INFO - SSI - Read table data from web done
qfbrowsing - INFO - SSI - Successfully reach to last page
quantfin - INFO - SSI - Data are successfully loaded. To be removed from unloadables list
quantfin - INFO - 3/3 symbol(s) checked. Progress: 100.0%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
qfbrowsing - INFO - SSI - Page 1 is loaded
qfbrowsing - INFO - SSI - Read table data from web done
qfbrowsing - INFO - SSI - Successfully reach to last page
quantfin - INFO - 3/3 symbol(s) checked. Progress: 100.0%
quantfin - INFO - 0 symbol(s) not fully loaded.
qfutils - ERROR - Cannot remove duplicated records from dataframe
Traceback (most recent call last):
  File "C:\Users\baoloc.lam\1-LocLam\PythonProjects\vn_stock_trading\stock_research\qfutils.py", line 161, in merge_dedup
    level=original_df.index.names
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 5810, in groupby
    observed=observed,
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\groupby.py", line 409, in __init__
    mutated=self.mutated,
  File "C:\Users\baoloc.lam\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\grouper.py", line 499, in get_grouper
    elif level > 0 or level < -1:
TypeError: '>' not supported between instances of 'NoneType' and 'int'
qfutils - WARNING - Symbol field is not an index. It will be made an index
qfutils - WARNING - Date field is not an index. It will be made an index
quantfin - INFO - vnd - Joining results
quantfin - INFO - vnd - Thread 0 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 1 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Thread 2 - Query result appended to consolidated dataframe
quantfin - INFO - vnd - Updating vnd class dataframe...
quantfin - INFO - vnd - Appending results to result set...
quantfin - INFO - vnd - Results are added to result set

In [10]:
portfolio.data

                   adj_close_vnd  open_vnd  high_vnd  low_vnd  close_vnd  \
symbol date
CTB    2020-03-02            NaN       NaN       NaN      NaN        NaN
       2020-03-03            NaN       NaN       NaN      NaN        NaN
       2020-03-04            NaN       NaN       NaN      NaN        NaN
       2020-03-05            NaN       NaN       NaN      NaN        NaN
       2020-03-06            NaN       NaN       NaN      NaN        NaN
...                          ...       ...       ...      ...        ...
VIC    2020-04-21           93.0      95.5      95.5     92.5       93.0
       2020-04-22           92.5      92.0      92.8     90.5       92.5
       2020-04-23           93.0      93.0      94.9     92.7       93.0
       2020-04-24           93.0      93.0      93.9     92.4       93.0
       2020-04-27           92.0      95.0      95.0     92.0       92.0

                    vol_vnd  adj_close_vnd_add  close_vnd_add  high_vnd_add  \
symbol date
CTB    2020-03-02       NaN             33.833           35.0          35.0
       2020-03-03       NaN             33.833           35.0          35.0
       2020-03-04       NaN             33.833           35.0          35.0
       2020-03-05       NaN             33.833           35.0          35.0
       2020-03-06       NaN             33.833           35.0          35.0
...                     ...                ...            ...           ...
VIC    2020-04-21  892270.0                NaN            NaN           NaN
       2020-04-22  884070.0                NaN            NaN           NaN
       2020-04-23  347420.0                NaN            NaN           NaN
       2020-04-24  300240.0                NaN            NaN           NaN
       2020-04-27  453720.0                NaN            NaN           NaN

                   low_vnd_add  open_vnd_add  vol_vnd_add
symbol date
CTB    2020-03-02         35.0          35.0          0.0
       2020-03-03         35.0          35.0          0.0
       2020-03-04         35.0          35.0          0.0
       2020-03-05         35.0          35.0          0.0
       2020-03-06         35.0          35.0          0.0
...                        ...           ...          ...
VIC    2020-04-21          NaN           NaN          NaN
       2020-04-22          NaN           NaN          NaN
       2020-04-23          NaN           NaN          NaN
       2020-04-24          NaN           NaN          NaN
       2020-04-27          NaN           NaN          NaN

[120 rows x 12 columns]

As aforementioned, we can download price data from 5 websites: cophieu68.vn, vndirect.com.vn, cafef.vn, vcsc.com.vn and stockbiz.vn. 
Each website corresponds to a 'method' argument in the update_data method (as we can see above, 'vnd' is used to download data from vndirect.com.vn). Below are list 'method; argument for each website:

1. 'cp68' -> cophieu68.vn
2. 'vnd' -> vndirect.com.vn
3. 'cafef' -> cafef.vn
4. 'sb' -> stockbiz.com.vn
5. 'vcsc' -> vcsc.com.vn

From my experience, data from cophieu68.vn is the most accurate. The above list is ordered by the reliability of the websites.
Let's try downloading data from other websites.

In [11]:
symbols = ['VIC', 'SSI', 'CTB']
records = 30

In [12]:
# cophieu68.com.vn
new_portfolio = Portfolio(
    data=None, # Empty portfolio as we don't have any data yet
    symbol_col='symbol', # Name the column which shows the stock's symbol
    date_col='date', # Name the column which shows the trading date,
    driver_exe=chrome_driver,
    driver='chrome'
)

# cophieu68.com.vn requires a free account to download its data
username = 'Type your login username here'
password = 'Type your pass'
data_source = 'mt4' # In cophieu68.com.vn, you need to specify the data source as 'mt4' (MetaTrade data) or 'xls' (Excel file manually uploaded)

new_portfolio.update_data(
    symbols_array=symbols,
    records=30,
    method='cp68',
    login_username=username,
    login_password=password,
    data_source=data_source
)

new_portfolio.data

In [13]:
# CafefF

new_portfolio = Portfolio(
    data=None, # Empty portfolio as we don't have any data yet
    symbol_col='symbol', # Name the column which shows the stock's symbol
    date_col='date', # Name the column which shows the trading date,
    driver_exe=chrome_driver,
    driver='chrome'
)

new_portfolio.update_data(symbols_array=symbols, records=30, method='cafef')
new_portfolio.data

In [14]:
# Stockbiz

new_portfolio = Portfolio(
    data=None, # Empty portfolio as we don't have any data yet
    symbol_col='symbol', # Name the column which shows the stock's symbol
    date_col='date', # Name the column which shows the trading date,
    driver_exe=chrome_driver,
    driver='chrome'
)

new_portfolio.update_data(symbols_array=symbols, records=30, method='sb')
new_portfolio.data

In [15]:
# VCSC

new_portfolio = Portfolio(
    data=None, # Empty portfolio as we don't have any data yet
    symbol_col='symbol', # Name the column which shows the stock's symbol
    date_col='date', # Name the column which shows the trading date,
    driver_exe=chrome_driver,
    driver='chrome'
)

new_portfolio.update_data(symbols_array=symbols, records=30, method='vcsc')
new_portfolio.data

-------------------------------------------------------------------------------------------------------------------------------

Let's resume to our portfolio object. After updating the portfolio data with new date range from 2020-03-01 to 2020-03-31, we will use the new data to fill in the missing values of the original data

In [16]:
# View data
portfolio.data

                   adj_close_vnd  open_vnd  high_vnd  low_vnd  close_vnd  \
symbol date
CTB    2020-03-02            NaN       NaN       NaN      NaN        NaN
       2020-03-03            NaN       NaN       NaN      NaN        NaN
       2020-03-04            NaN       NaN       NaN      NaN        NaN
       2020-03-05            NaN       NaN       NaN      NaN        NaN
       2020-03-06            NaN       NaN       NaN      NaN        NaN
...                          ...       ...       ...      ...        ...
VIC    2020-04-21           93.0      95.5      95.5     92.5       93.0
       2020-04-22           92.5      92.0      92.8     90.5       92.5
       2020-04-23           93.0      93.0      94.9     92.7       93.0
       2020-04-24           93.0      93.0      93.9     92.4       93.0
       2020-04-27           92.0      95.0      95.0     92.0       92.0

                    vol_vnd  adj_close_vnd_add  close_vnd_add  high_vnd_add  \
symbol date
CTB    2020-03-02       NaN             33.833           35.0          35.0
       2020-03-03       NaN             33.833           35.0          35.0
       2020-03-04       NaN             33.833           35.0          35.0
       2020-03-05       NaN             33.833           35.0          35.0
       2020-03-06       NaN             33.833           35.0          35.0
...                     ...                ...            ...           ...
VIC    2020-04-21  892270.0                NaN            NaN           NaN
       2020-04-22  884070.0                NaN            NaN           NaN
       2020-04-23  347420.0                NaN            NaN           NaN
       2020-04-24  300240.0                NaN            NaN           NaN
       2020-04-27  453720.0                NaN            NaN           NaN

                   low_vnd_add  open_vnd_add  vol_vnd_add
symbol date
CTB    2020-03-02         35.0          35.0          0.0
       2020-03-03         35.0          35.0          0.0
       2020-03-04         35.0          35.0          0.0
       2020-03-05         35.0          35.0          0.0
       2020-03-06         35.0          35.0          0.0
...                        ...           ...          ...
VIC    2020-04-21          NaN           NaN          NaN
       2020-04-22          NaN           NaN          NaN
       2020-04-23          NaN           NaN          NaN
       2020-04-24          NaN           NaN          NaN
       2020-04-27          NaN           NaN          NaN

[120 rows x 12 columns]

In [17]:
# Fill N/A values with newly downloaded data
portfolio.data['adj_close_vnd'].fillna(portfolio.data['adj_close_vnd_add'], inplace=True)
portfolio.data['vol_vnd'].fillna(portfolio.data['vol_vnd_add'], inplace=True)

# Making it simple, we only want to view the adjusted price and the volume and drop all others
portfolio.data = portfolio.data.loc[:, ['adj_close_vnd', 'vol_vnd']]

In [25]:
portfolio.data

                   adj_close_vnd   vol_vnd
symbol date
CTB    2020-03-02         33.833       0.0
       2020-03-03         33.833       0.0
       2020-03-04         33.833       0.0
       2020-03-05         33.833       0.0
       2020-03-06         33.833       0.0
...                          ...       ...
VIC    2020-04-21         93.000  892270.0
       2020-04-22         92.500  884070.0
       2020-04-23         93.000  347420.0
       2020-04-24         93.000  300240.0
       2020-04-27         92.000  453720.0

[120 rows x 2 columns]

Even though we have downloaded data from different sources to make sure there's no missing data, the risk never goes away. To identify missing data, we can check the trading dates of the stocks in our portfolio to identify any missing trading dates.

Of course, we need to have a public holidays data to make sure that the missing trading date is not a public holiday date. In this folder, I have stored a csv file containing Vietnamese public holidays from 2000-01-01.

In [18]:
holidays = pd.read_csv('vn_public_holidays.csv')
holidays = pd.to_datetime(holidays['date'].astype('str'), format='%d/%m/%Y')
portfolio.find_missing_dates(holidays)

quantfin - INFO - Running find_missing_dates method...
quantfin - INFO - CTB - Checking dates from 2020-03-02 to 2020-04-27...
quantfin - INFO - CTB - There is/are 0 missing date(s).
quantfin - INFO - SSI - Checking dates from 2020-03-02 to 2020-04-27...
quantfin - INFO - SSI - There is/are 0 missing date(s).
quantfin - INFO - VIC - Checking dates from 2020-03-02 to 2020-04-27...
quantfin - INFO - VIC - There is/are 0 missing date(s).
quantfin - INFO - Original DataFrame: 120 rows x 2 columns
quantfin - INFO - New DataFrame: 120 rows x 2 columns

In the last 2 rows of the logs, you can see the comparison between original data against the validated data. Please take note that the find_missing_dates will identify missing trading dates and automatically add them to the portfolio data.

Given the missing trading dates, it's common that we are unable to find price data for these dates from public sources. Thus, we need to fill in the missing values using the interpolate method. This method is built on the interpolate method of pandas dataframe.

In [19]:
# For price data, we use interpolate method
portfolio.interpolate('adj_close_vnd', method='linear')

# For volume data, we simply set the missing values to zero
portfolio.data['vol_vnd'].fillna(0, inplace=True)

In [20]:
portfolio.data

                   adj_close_vnd   vol_vnd
symbol date
CTB    2020-03-02         33.833       0.0
       2020-03-03         33.833       0.0
       2020-03-04         33.833       0.0
       2020-03-05         33.833       0.0
       2020-03-06         33.833       0.0
...                          ...       ...
VIC    2020-04-21         93.000  892270.0
       2020-04-22         92.500  884070.0
       2020-04-23         93.000  347420.0
       2020-04-24         93.000  300240.0
       2020-04-27         92.000  453720.0

[120 rows x 2 columns]